body{
     background-color: indigo;
}

h1{
     color: cyan;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
     text-align: right;
     color: whitesmoke;
     font-family: 'Times New Roman', Times, serif;
      font-size: 120%;
      margin-left:15%;
}



#menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 200px;
     height: 100%;
     background-color: #468dbf;
     padding: 20px;
     border-color: cornflowerblue;
     border: 5px;
   }

   #menu,ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
   
   #menu,a{
     color: #fff;
     text-decoration: none;
     font-size: 120%;
   }

   #menu .circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 20px;
	border: 3px solid #000000;
     width: 80%;
   }